    .body { 
      margin: 50px;
      background-color: paleturquoise;
     }
  .header { 
      margin: 25px;
     } 
  .footer { 
      margin: 25px;
     }
   button {
     cursor: pointer;
   }
   .header__title {
    text-align: center;
    color: blue;
    font-style: italic;
   }
   .header__button {
     border-radius: 50%;
     border: 2px solid blue; 
     opacity: .6;
     color: blue;
     position: relative;
     right: -150px;
   }
   .header__description {
     text-align: right;
     font-style: italic;
     color: dimgray;   
   }
  .body__subtitle {
     font-style: italic;
  }
  .body__button {
    color: green;
    border: 2px solid green;
     width: 100px;
     height: 144px;
  }
  .body__aside_right {
    padding: 10px;
    width: 200px;
    float: right;
    color: green;
  }
  .footer {
  color: indigo;
  }
  .footer__aside_left {
       padding: 10px;
    width: 100px;
    float: left;
  }
  .footer__subtitle {
    font-style: italic; 
     text-align: justify;    
  }
  .footer__text {
 text-align: justify;
 }